html{
	text-align: center;
	font-family: Arial, sans-serif;
}

p{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	width:700px;
}

code {
  font-family: monospace;
  background-color: #eee;
  border: 1px solid #999;
  display: block;
  padding: 20px;
}